{% extends 'base.html.twig' %}

{% block body %}



    <h1>Car edit</h1>

    <div class="form-group">
        <div class="col-sm-10">
            {{ form_start(edit_form) }}

            {{ form_widget(edit_form) }}
            <input type="submit" value="Edit" />
            {{ form_end(edit_form) }}
        </div>

    </div>


    <ul>

            <a class="btn btn-primary" href="{{ path('car_index') }}">Back to the list</a>

            <p> {{ form_start(delete_form) }}
                <input class="btn btn-primary" type="submit" value="Delete">
                {{ form_end(delete_form) }}

            </p>


    </ul>
{% endblock %}
